<div>
    <h1>
        Закрити замовлення
    </h1>
</div>
<div>
    <form method="post" action="@Url.Action("ClosePurchase", "Courier")">
        <div>
            <input type="number" name="Id" placeholder="Номер замовлення">
            <button id="blo" type="submit">Закрити замовлення</button>
        </div>
    </form>
</div>
