<div>
    <h1>
        Взяти замовлення
    </h1>
</div>
<div>
    <form method="post" action="@Url.Action("TakePurchase", "Courier")">
        <div>
            <input type="number" name="Id" placeholder="Номер замовлення">
            <button id="blo" type="submit">Взяти замовлення</button>
        </div>
    </form>
</div>
