@model IEnumerable<Delivery.DataBase.Models.Product>
<div class="ty">
    <h1>
        Продукти користувача
    </h1>
    <div>
        <button class="olb" type="submit"><a href="User/Buy">Замовити продукт</a></button>
    </div>
    <div>
        <button class="olb" type="submit"><a href="User/UserProduct">Корзина</a></button>
    </div>
    <div>
        <table id="tb" class="mr">
            <thead>
                <tr>
                    <th>Номер продукту</th>
                    <th>Назва продукту</th>
                    <th>Кількість</th>
                    <th>Ціна</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    </tr>
                }
        </table>
    </div>
</div>