<div>
    <h1>
        Меню видалення продукту
    </h1>
    <form method="post" action="@Url.Action("ProductDelete", "Admin")">
        <div>
            <input type="number" name="Id" placeholder="Номер продукту">
            <button id="blo" type="submit">Видалити продукт</button>
        </div>
    </form>
</div>
