<div class="ob">
    <h1>
        Панель адміністратора
    </h1>
    <div>
        <button class="olb" type="submit"><a href="User/Index">Вигляд сторінки користувача</a></button>
        <button class="olb" type="submit"><a href="Courier/Index">Вигляд сторінки кур'єра</a></button>
        <button class="olb" type="submit"><a href="Admin/Users">Список користувачів</a></button>
        <button class="olb" type="submit"><a href="Admin/Products">Сторінка додавання/видалення продуктів</a></button>
    </div>
</div>