@model IEnumerable<Delivery.DataBase.Models.Product>
<div>
    <h1>Список продуктів</h1>
    <div>
        <h3>Дії з продуктами: </h3>
        <div>
            <button class="olb" type="submit"><a href="Admin/Add">Додати продукт</a></button>
        </div>
        <div>
            <button class="olb" type="submit"><a href="Admin/Delete">Видалити продукт</a></button>
        </div>
    </div>
            <table id="tb">
                <thead>
                    <tr>
                        <th>Номер продукту</th>
                        <th>Назва продукту</th>
                        <th>Кількість</th>
                        <th>Ціна</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
</div>