<div><h1>Підтримка</h1></div>
<div>
	<h3>- Як зареєструвати новий аккаунт?</h3>
	<h5>В правому верхньому кутку потрібно натиснути на кнопку "Зареєструватися" і у вікні, яке відкриється ввести свої дані</h5>
	<h3>- Як ввійти в наявний аккаунт?</h3>
	<h5>В правому верхньому кутку потрібно натиснути на кнопку "Увійти" і у вікні, яке відкриється ввести свої дані</h5>
	<h3>- Як зробити замовлення?</h3>
	<h5>Після того як ви увійшли в аккаунт, на сторінці користувача потрібно вибрати страву та її кількість, і потім натиснути на кнопку "Оформити замовлення"</h5>
	<h3>- Проблеми з доставкою або оплатою?</h3>
	<h5>Звертайтесь до наших менеджерів по номеру телефону гарячої лінії!</h5>
</div>
<h4 class="low">Смачного!</h4>