<div class="container">
    <h1>Смачно з нами! - сервіс для швидкої доставки смачної їжі для вас!</h1>
    <h3>Замовляй! Не пошкодуєш! :)</h3>
</div>
<div class="tx">
    <a id="log" href="User/Login">Увійти</a>
    <a id="reg" href="User/Register">Зареєструватися</a>
</div>
<div class="sss">
    <a href="Home/About"><h2>Основна інформація</h2></a>
    <a href="Home/FAQ"><h2>Підтримка</h2></a>
</div>
<div class="low">
    <h4>Номер телефону гарячої лінії: +380-977-777-333</h4>
    <h4>Електронна скринька: delicious.withus@gmail.com</h4>
</div>